//mentorinfo css
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Ubuntu:wght@400;500&display=swap');

.mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;

  .mentor-title {
    font-size: 3rem;
    font-family: "Orbitron", sans-serif;
    padding: 2rem;
    text-align: center;
  }

  .mentor-card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .mentor-details {
      position: relative;
      width: 14rem;
      height: 14rem;
      margin: 4rem;

      .mentor-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.5s ease-in-out;

        img {
          width: 14rem;
          height: 14rem;
          object-fit: cover;
          resize: both;
          border-radius: 2rem;
        }
      }

      .mentor-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        // background-color: #fff;
        background-image: linear-gradient(#6A85B6, #BAC8E0);
        z-index: 1;
        align-items: flex-end;
        text-align: center;
        transition: 0.5s ease-in-out;
        border-radius: 2rem;

        h2 {
          display: block;
          font-size: 0.9rem;
          color: #111;
          font-weight: 700;
          line-height: 1.8rem;
          font-family: "Montserrat", sans-serif;
          // letter-spacing: 1px;
        }

        span {
          color: #555;
          font-size: 0.8rem;
          font-weight: 700;
          font-family: Montserrat, sans-serif;
          // letter-spacing: 2px;
        }

        .mentor-button {
          // background-color: rgb(129, 191, 244);
          background-image: linear-gradient(#00c6fb, #005bea);
          border-radius: 10px;
          padding: 0.15rem 0.4rem;
          cursor: pointer;
          font-family: Montserrat, sans-serif;
        }
      }

      .mentor-name {
        position: absolute;
        top: 250px;
        width: 100%;
        text-align: center;
        font-size: 18px;
      }
    }

    .mentor-details:hover {
      .mentor-image {
        transform: translate(-3.5rem, -3.5rem);
      }

      .mentor-content {
        transform: translate(0rem, 3.5rem);
      }
    }
  }
}

//mentor details css

.mentor-info {
  .about {
    width: 100%;
    padding: 25px;
    background-color: var(--bgcolor);

    .main {
      width: 80vw;
      // max-width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: auto;

      img {
        height: 300px;
        width: 300px;
        border-radius: 10px;

      }

      .about-text {
        width: 650px;
        padding: 10px;

        h2 {
          text-transform: capitalize;
          padding: 5px;
          font-size: 30px;
          color: rgb(176 233 235);
        }

        h3 {
          padding: 5px;
          font-size: 20px;
          color: rgb(124 169 210);
          text-transform: capitalize;
          letter-spacing: 2px;
        }

        p {
          color: rgb(253, 250, 247);
          letter-spacing: 1px;
          line-height: 28px;
          font-size: 18px;
          padding: 10px;
          text-align: justify;
        }
      }
    }
  }
}

@media(max-width:1024px) {
  .about {
    .main {
      width: 90vw;
      display: flex;
      justify-content: center;
      flex-direction: column;

      img {
        flex: 0 100%;
        max-width: 100%;
      }

      .about-text {
        flex: 0 100%;
        max-width: 100%;
        padding: 15px;

        h2,
        h3 {
          text-align: center;
        }

        p {
          text-align: justify;
        }
      }
    }


  }


}