.mentors {
    background: #03031a;
    width: 100%;
    padding: 6rem 1rem;
}

.card-container {
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}

.card {
    border: 1px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* height : 80vh; */
    height : auto;
}
.card:hover{
    background-color : rgba(2, 2, 69, 0.484);
}
.card p{
    padding : 10px 0;
}
.mentor_name{
    font-size : 2rem;
    font-weight: bold;
}
.mentor_designation{
    font-size : 1.5rem;
}
.mentor_content{
    font-size : 1.2rem;
}

@media screen and (max-width:1080px) {
    .card-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: auto;
    }
}

