@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color : white;
  /* background-color: #03031a; */
  font-family: 'Quicksand', sans-serif;
}
a{
  text-decoration: none;
}